.article-link {
    color: black;
}

.article-link:hover {
    text-decoration: underline;
}

.timestamp {
    margin: 0px;
    color: grey;
    font-size: smaller;
}

.feedname {
    margin-left: 5px;
    color: grey;
}