.article-link {
	color: black;
}

.article-link:hover {
	text-decoration: underline;
}

.timestamp {
	margin: 0px;
	color: grey;
	font-size: smaller;
}

.feedname {
	margin-left: 5px;
	color: grey;
}

.number {
	padding-right: 3px;
	text-align: right;
	color: grey;
	vertical-align: top;
}

.arrow-up {
	padding-top: 7px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid black;
}

.upvote-link {
    padding-right: 5px;
}

.upvote-link:hover {
    cursor:pointer
}