.feed-nav {
	margin: 10px;
}

.main {
	padding-top: 25px;
}

h2 {
	font-family: 'Courier New', Courier, monospace;
}
.full {
	display: table;
	width: 100%;
}
.left {
	display: table-cell;
	vertical-align: top;
	width: 70%;
}
.right {
	display: table-cell;
	width: 30%;
	padding-left: 30px;
}

.subscribe {
	margin-left: 100px;
}

.sort {
	margin-left: 200px;
	display: inline;
}

.sort-selected {
	font-weight: 900;
	text-shadow: 0 0 0.5px rgb(0, 0, 0);
	background-color: rgba(172, 255, 47, 0.534);
}

.sort-unselected {
	color: none;
}

@media only screen and (max-width: 700px) {
	.feed-nav {
	  /* display: block; */
	  float: left;
	  width: 100%;
	  padding: 0px;
	  margin: 0px;
	}
	.subscribe {
		display: block;
		text-align: left;
		margin: 0px;
		text-decoration: underline;
		text-shadow: "0.5px";
		text-align: center;
		margin-bottom: 10px;
	}
	.left {
		display: block;
		width: 100%;
	}
	.right {
		display: none;
	}
	.sort {
		margin: 0px;
		float: right;
	}
	.main {
		margin: 8px;
		padding-top: 80px;
	}
  }

/* @media only screen and (max-width: 700px) and (orientation: portrait) {
	.main {
		padding-top: 60px;
	}
} */