
.button-container button {
	border-radius: 3px;
	font-family: 'Courier New', Courier, monospace;
}

/* .button-container {
    display: inline;
} */
.pagination {
	display: inline;
}

@media only screen and (max-width: 700px) {
	.button-container {
		display: block;
	}
	.button-container button {
		font-size: 16px;
	}
	.pagination {
		display: inline;
		align-items: left;
	}
  }