/* .nav-container {
	display: flex;
	flex-flow: row wrap;
	background-color: #282828;
} */

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

@media only screen and (max-width: 750px) and (min-width: 300px) {
	.nav-list {
		display: block;
		margin: 3px 5px;
		font-size: 12px;
	}
}

.nav-list-item {
	text-decoration: none;
	float: left;
	margin: 4pt;
}

.float-right {
	float: right;
}

.active-link {
	color: #66ff66;
}

a {
	color: white;
	text-decoration: none;
}
